@import "fonts.css";

$Magenta: #ec008c;
$LightGray: #eee;
$TranslucentBlack: rgba(0, 0, 0, 0.5);
$bgHeight: 23px;
$bgWidth: 50px;
$bg: 50px 23px;
$menuDesktopHeight: 72px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* adds animation for all transitions */

  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

#drawer-toggle, header, #drawer, .huge, .icon-keyboard_arrow_down, svg {
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: white;
  font-family: Galaxie;
}

h1 {
  font-family: HUGEAvantGardeBold;
}

#drawer-toggle {
  position: absolute;
  opacity: 0;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  z-index: 0;
}

#drawer-toggle-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0px;
  height: 50px;
  width: 50px;
  margin-left: 12px;
  display: block;
  position: fixed;
  background: $Magenta;
  z-index: 1;
}

header {
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0px;
  background: $Magenta;
  padding: 12px 10px 12px 24px;
  font-size: 30px;
  line-height: 30px;
  z-index: 0;

  .huge {
    background: url('../images/HUGE.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 ($bgHeight * -2 - 2 );
    opacity: 0;
    visibility: hidden;
    height: $bgHeight;
    width: $bgWidth;
    text-indent: -9999px;
    float: left;
    position: relative;
    left: -100px;
  }
  svg {
    width: 50px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
}

#drawer-toggle-label:before {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 24px;
  background: white;
  left: 12px;
  top: 18px;
  box-shadow: 0 6px 0 white, 0 12px 0 white;
}

#drawer {
  position: fixed;
  top: 50px;
  left: -300px;
  height: 100%;
  width: 300px;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  ul {
    font-family: HUGEAvantGardeBold;
    font-size: 1.5em;

    li {
      list-style: none;
      position: relative;
    }

    li:first-child {
      margin-top: 12px;
    }

    a {
      width: 100%;
      height: 48px;
      display: block;
      text-decoration: none;
      color: black;
      padding: 12px 0 12px 24px;
    }

    a:hover {
      background: #EEEEEE;
    }

    ul {
      display: none;
      font-family: Galaxie;
      font-size: 0.6em;

      li:first-child {
        margin: 0;
      }

      a:hover {
        color: $Magenta;
      }
    }

    span {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      font-size: 1.7em;
      color: $Magenta;
      width: 48px;
      height: auto;
      text-align: center;
    }
  }
}

#view {
  margin-left: 0px;
  margin-top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    padding: 50px 24px;
    font-size: 3em;
    line-height: 1.1;
  }

  p {
    font-family: Galaxie;
    margin: 0 24px;
  }
}

#drawer-toggle:checked {
  z-index: 100;
  cursor: pointer;
}

#drawer-toggle:checked ~ #drawer-toggle-label {
  height: 100%;
  width: calc(100% - 300px);
  background: $TranslucentBlack;
  left: 300px;
  top: 50px;
  margin: 0;
}

#drawer-toggle:checked ~ #drawer-toggle-label:before {
  background: transparent;
  box-shadow: none;
}

#drawer-toggle:checked ~ header .huge, #drawer-toggle:checked ~ header svg{
  opacity: 1;
  visibility: visible;
}

#drawer-toggle:checked ~ header .huge{
  transform: translateX(100px);
}

#drawer-toggle:checked ~ header .huge:hover {
  background-position: 0 ($bgHeight * -1);
}

#drawer-toggle:checked ~ #drawer {
  left: 0px;
}

#drawer-toggle:checked ~ #page-content {
  margin-left: 300px;
}

.spin {
  transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {
  #drawer-toggle, #drawer-toggle-label, header svg {
    display: none;
  }

  #view {
    margin-top: $menuDesktopHeight;
  }

  header {
    height: $menuDesktopHeight;

    .huge {
      transform: translateX(100px);
      opacity: 1;
      visibility: visible;
    }

    .huge:hover {
      background-position: 0 ($bgHeight * -1);
    }

  }

  #drawer {
    position: fixed;
    top: 0px;
    left: 132px;
    height: $menuDesktopHeight;
    width: 100%;
    background: transparent;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    z-index: 10;

    ul {
      font-size: 1.5em;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: auto;
        height: $menuDesktopHeight;
      }

      li:hover {
        ul {
          display: block;
          position: absolute;
          top: 72px;
          left: 0px;
          z-index: 11;
          background: white;
          width: 250px;
          padding: 0 12px;
          color: black;
          padding: 0;
          li{
            height: 48px;
            display: block;
            a {
              color: black;
              padding: 12px 24px;
              height: 48px;
            }

            a:hover {
              background: #EEEEEE;
              color: $Magenta;
            }
          }
        }
      }

      li:first-child {
        margin-top: 0px;
      }

      a {
        height: $menuDesktopHeight;
        color: white;
        padding: 24px;
      }

      a:hover {
        background: white;
        color: $Magenta;
      }

      span {
        display: none;
      }
    }
  }
}